@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
  overflow-y: scroll;
}

$duration: 0.5s;
$page-transition: ease-in;

.transition {
  overflow: hidden;
}

.back,
.back {

  &-enter-active,
  &-leave-active {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 56px;
  }
}

// router view
.back-leave-active {
  transition: transform $duration $page-transition;
  z-index: 1;
  transform: translateX(100%);

  .container {
    transition: opacity $duration/2 $page-transition;

    opacity: 0
  }

  .before-bg {
    transition: width $duration $page-transition;
    width: 3vw;
  }

}

.back-leave-to {
  z-index: 1;
  transform: translateX(0%);

  .before-bg {
    transition: width $duration $page-transition;
    width: 97vw;
  }

}

.back-enter-active {
  z-index: 2;

  .container {

    opacity: 1
  }
}

.back-enter-to {
  z-index: 2;

  .container {
    transition: opacity $duration/2 $page-transition 1s;

    opacity: 0
  }
}

// router view back

.forward-leave-active {
  transition: transform $duration $page-transition;
  z-index: 2;
  transform: translateX(0%);
}

.forward-leave-to {
  z-index: 2;
  transform: translateX(100%);
}
