@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';



$duration: 1s;
$page-transition: ease-in;

.transition {
  overflow: hidden;
}

.back,
.forward {

  &-enter-active,
  &-leave-active {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 56px;
  }
}

// router view
.back-enter-active {
  transition: transform $duration $page-transition;
  z-index: 2;
  transform: translateX(100%);
}

.back-enter-to {
  z-index: 2;
  transform: translateX(0%);
}

.back-leave-active {
  z-index: 1;
}

.back-leave-to {
  z-index: 1;
}

// router view back

.forward-leave-active {
  transition: transform $duration $page-transition;
  z-index: 2;
  transform: translateX(0%);
}

.forward-leave-to {
  z-index: 2;
  transform: translateX(100%);
}
